* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	// outline: 1px solid red;
}

ul {
	list-style: none;
}

#root {
	display: grid;
	grid-template-columns: repeat(4, 25vw);
	grid-template-rows: 800px 600px 600px 600px 777px 447px 350px;
	grid-template-areas:
		'header header header header'
		'transform-text transform-text transform-image transform-image'
		'stand-out-image stand-out-image stand-out-text stand-out-text'
		'graphic-design graphic-design photography photography'
		'testimonials testimonials testimonials testimonials'
		'milk-bottles orange cone sugar-cubes'
		'footer footer footer footer';
}

.transform-image img,
.stand-out-image img,
.graphic-design img,
.photography img,
.milk-bottles img,
.orange img,
.cone img,
.sugar-cubes img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.header,
.graphic-design,
.photography {
	position: relative;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
