@import '../../styles/variables';

.footer {
	grid-area: footer;
	padding: 70px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: $dark-moderate-cyan;

	.footer-logo {
		width: 170px;
	}

	.footer-links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		margin: 45px 0 90px 0;

		a {
			text-decoration: none;
			font-family: 'Barlow', sans-serif;
			font-size: 18px;
			letter-spacing: 18px * (-0.05);
			color: $dark-desaturated-cyan;

			&:hover {
				color: $white;
			}
		}
	}

	.footer-socials {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;

		a:hover {
			filter: brightness(10);
		}
	}
}
