.footer {
	grid-area: footer;
	padding: 70px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.footer-logo {
		width: 170px;
	}

	.footer-links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.footer-socials {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
	}
}
